{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/background.jpg" "title" "Teslanomics" "subtitle" "Decoding the economics of Tesla each week") }}

{{ partial "short-text" (dict "heading" "Our Values" "text" "We believe that data represents the truth. By looking at data instead of focusing on aestetics we'll gain a deeper understanding of the truth. With this focus on data and analysis, we look each week at the economics of Tesla, a company that is dramatically shaping our future of energy and transportation.")}}

{{ partial "blog" . }}

{{ partial "ev2017" (dict "heading" "EV Buyers Guide" "text" "Before buying an EV you'll want to read this. Based on our research and experience we've compiled into this guide how to handle range anxiety, your charging setup, what you should pay, and how to choose the right EV for your family." "buttonText" "Download Now" "buttonLink" "/ev2017") }}


{{ partial "footer" . }}
